<html>
    <head><title>1917</title></head>

    <style>
        body, html{
            height: 100%;
            margin: 0;
        }
        .image{
            height: 600px;
            width: 360px;
        }
        h1{
            color: white;
            font-size: 40px;
            position: absolute;
            left: 400px;
            top: 0px;
        }
        #info1{
            position: absolute;
            left: 400px;
            top: 60px;
            font-size: 25px;
            color: aqua;
        }
        .trailer1{
            height: 350px;
            width: 600px;
            position: absolute;
            left: 500px;
            top: 280px;
        }
    </style>

    <body bgcolor="black">
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS9KHHcZ77V9cPmxm5b0yAjefFIqgQU4uB13lLIGXU8Jvbr8xIs" class="image">
        <h1>Movie Details</h1>
        <p id="info1">Rating : 8.3/10</br>
            Box office : 38.49 crores USD</br>
            Description : During World War I, two British soldiers -- Lance Cpl. Schofield and Lance Cpl. Blake -- receive seemingly impossible orders. In a race against time, they must cross over into enemy territory to deliver a message that could potentially save 1,600 of their fellow comrades -- including Blake's own brother.</br>
            Cast : George Mackay, Dean-Charles Chapman, Richard Madden.
        </p>
        <iframe class="trailer1" src="https://www.youtube.com/embed/gZjQROMAh_s" allowfullscreen ng-show="showvideo"></iframe>
    </body>
</html>