<html>
    <head><title>

    </title></head>
    <style>
        body, html{
            height: 100%;
            margin: 0;
        }
        h1{
            background-color: darkblue;
            color: white;
            font-size: 40px;
        }
        .image{
            height: 350px;
            width: 220px;
            left: 40px;
            top: 90px;
            position: absolute;
        }
        .image1{
            height: 350px;
            width: 220px;
            top: 90px;
            left: 330px;
            position: absolute;
        }
        .image2{
            height: 350px;
            width: 220px;
            top: 90px;
            left: 600px;
            position: absolute;
        }
        .image3{
            height: 350px;
            width: 220px;
            top: 90px;
            left: 860px;
            position: absolute;
        }
        .image4{
            height: 350px;
            width: 220px;
            top: 90px;
            left: 1120px;
            position: absolute;
        }
        
        .drop-content{
            display: none;
            top: 490px;
            left: 40px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop:hover .drop-content{
            display: block;
        }
        .name:hover{
            color: darkblue;
        }
        .drop-content a{
            color: white;
        }
        .drop-content a:hover:not(.header){
            color: blue;
        }

        .drop-content1{
            display: none;
            top: 490px;
            left: 340px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop1:hover .drop-content1{
            display: block;
        }
    
        
        .drop-content1 a{
            color: white;
        }
        .drop-content1 a:hover:not(.header){
            color: blue;
        }

        .drop-content2{
            display: none;
            top: 490px;
            left: 620px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop2:hover .drop-content2{
            display: block;
        }
    
        
        .drop-content2 a{
            color: white;
        }
        .drop-content2 a:hover:not(.header){
            color: blue;
        }

        .drop-content3{
            display: none;
            top: 490px;
            left: 880px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop3:hover .drop-content3{
            display: block;
        }
    
        
        .drop-content3 a{
            color: white;
        }
        .drop-content3 a:hover:not(.header){
            color: blue;
        }

        .drop-content4{
            display: none;
            top: 490px;
            left: 1130px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop4:hover .drop-content4{
            display: block;
        }
    
        
        .drop-content4 a{
            color: white;
        }
        .drop-content4 a:hover:not(.header){
            color: blue;
        }
      
    </style>
    <body bgcolor="black">
        <h1><center>Action Movies</center></h1>
        <img src="https://bloximages.chicago2.vip.townnews.com/kokomotribune.com/content/tncms/assets/v3/editorial/2/2e/22e7dc38-c649-11e8-8fb3-73f150ba304d/5bb375fd83314.image.jpg?resize=500%2C750" class="image">
        <img src="https://m.media-amazon.com/images/M/MV5BYjA5YjA2YjUtMGRlNi00ZTU4LThhZmMtNDc0OTg4ZWExZjI3XkEyXkFqcGdeQXVyNjUyNjI3NzU@._V1_.jpg" class="image1">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/00/Fast_%26_Furious_Presents_Hobbs_%26_Shaw_-_theatrical_poster.jpg" class="image2">
        <img src="https://images-na.ssl-images-amazon.com/images/I/91JNWWQKGgL._RI_.jpg" class="image3">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51hb-tV06TL._AC_SY400_.jpg" class="image4">
        <div class="drop">
        <h2 class="name" style="color: white; cursor: pointer; left: 80px; top: 430px;position: absolute;font-size: 35px;">Venom</h2>
        <div class="drop-content">
            <p>Release year : 2017</br>
            Length : 2hr 20min</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/action/venom">More Info ></a></p>
        </div>
        </div>

        <div class="drop1">
        <h2 class="name" style="color: white; cursor: pointer; left: 360px; top: 430px;position: absolute;font-size: 35px;">Bloodshot</h2>
        <div class="drop-content1">
            <p>Release year : 2020</br>
            Length : 1hr 49min</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/action/bloodshot">More Info ></a></p>
        </div>
        </div>
        <div class="drop2">
        <h2 class="name" style="color: white; cursor: pointer; left: 610px; top: 440px;position: absolute;font-size: 28px;">Hobbs and Shaw</h2>
        <div class="drop-content2">
            <p>Release year : 2019</br>
            Length : 2hr 16min</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/action/hobbs">More Info ></a></p>
        </div>
        </div>
        <div class="drop3">
        <h2 class="name" style="color: white; cursor: pointer; left: 870px; top: 440px;position: absolute;font-size: 30px;">Justice League</h2>
        <div class="drop-content3">
            <p>Release year : 2017</br>
            Length : 2hr 0min</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/action/justice">More Info ></a></p>
        </div>
        </div>
        <div class="drop4">
            <h2 class="name" style="color: white; cursor: pointer; left: 1120px; top: 440px;position: absolute;font-size: 30px;">Kinsgman Part-1</h2>
            <div class="drop-content4">
                <p>Release year : 2014</br>
                Length : 2hr 10min</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/action/kingsman">More Info ></a></p>
            </div>
            </div>
    </body>
    <script>
        /*venom, bloodshot, hobbs and shaw, justice league, baby driver, kingsman*/
    </script>
</html>