<html>
    <head><title>A Star is Born</title></head>

    <style>
        body, html{
            height: 100%;
            margin: 0;
        }
        .image{
            height: 600px;
            width: 360px;
        }
        h1{
            color: white;
            font-size: 40px;
            position: absolute;
            left: 400px;
            top: 0px;
        }
        #info1{
            position: absolute;
            left: 400px;
            top: 60px;
            font-size: 25px;
            color: aqua;
        }
        .trailer1{
            height: 350px;
            width: 600px;
            position: absolute;
            left: 500px;
            top: 280px;
        }
    </style>

    <body bgcolor="black">
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSLwbpCId0a7cQzED6ghMIc4PUHqv03gqcphilPJY7z4wfCw8Sg" class="image">
        <h1>Movie Details</h1>
        <p id="info1">Rating : 7.6/10</br>
            Box office : 43.62 crores USD</br>
            Description : After falling in love with struggling artist Ally, Jackson, a musician, coaxes her to follow her dreams, while he battles with alcoholism and his personal demons.</br>
            Cast : Bradley Cooper, Lady Gaga, Sam Elliot.
        </p>
        <iframe class="trailer1" src="https://www.youtube.com/embed/nSbzyEJ8X9E" allowfullscreen ng-show="showvideo"></iframe>
    </body>
</html>