<html>
    <head><title>Venom</title></head>

    <style>
        body, html{
            height: 100%;
            margin: 0;
        }
        .image{
            height: 600px;
            width: 360px;
        }
        h1{
            color: white;
            font-size: 40px;
            position: absolute;
            left: 400px;
            top: 0px;
        }
        #info1{
            position: absolute;
            left: 400px;
            top: 60px;
            font-size: 25px;
            color: aqua;
        }
        .trailer1{
            height: 350px;
            width: 600px;
            position: absolute;
            left: 500px;
            top: 280px;
        }
    </style>

    <body bgcolor="black">
        <img src="https://m.media-amazon.com/images/M/MV5BNjE5MzYwMzYxMF5BMl5BanBnXkFtZTcwOTk4MTk0OQ@@._V1_SY278_CR2,0,184,278_.jpg" class="image">
        <h1>Movie Details</h1>
        <p id="info1">Rating : 7.7/10</br>
            Box office : 72.32 crores USD</br>
            Description : On an outer space mission, Dr Ryan Stone, an engineer, and Matt Kowalski, an astronaut, are hit by high-speed space debris. As the situation gets dire, Stone, the lone survivor, rises to the occasion.</br>
            Cast : Sandra Bullock, George Clooney, Ed Harris.
        </p>
        <iframe class="trailer1" src="https://www.youtube.com/embed/OiTiKOy59o4" allowfullscreen ng-show="showvideo"></iframe>
    </body>
</html>