<html>
    <head><title>Hobbs and Shaw</title></head>

    <style>
        body, html{
            height: 100%;
            margin: 0;
        }
        .image{
            height: 600px;
            width: 360px;
        }
        h1{
            color: white;
            font-size: 40px;
            position: absolute;
            left: 400px;
            top: 0px;
        }
        #info1{
            position: absolute;
            left: 400px;
            top: 60px;
            font-size: 25px;
            color: aqua;
        }
        .trailer1{
            height: 350px;
            width: 600px;
            position: absolute;
            left: 500px;
            top: 280px;
        }
    </style>

    <body bgcolor="black">
        <img src="https://images-na.ssl-images-amazon.com/images/I/91TFCClWh-L._RI_.jpg" class="image">
        <h1>Movie Details</h1>
        <p id="info1">Rating : 6.4/10</br>
            Box office : 75.99 crores USD</br>
            Description : US agent Luke Hobbs and British mercenary Deckard Shaw are forced to put their rivalry side and work together to stop a genetically enhanced supervillain.</br>
            Cast : Dwayne Johnson, Jason Statham, Vanessa Kirby.
        </p>
        <iframe class="trailer1" src="https://www.youtube.com/embed/HZ7PAyCDwEg" allowfullscreen ng-show="showvideo"></iframe>
    </body>
</html>