<html>
    <head><title>Justice League</title></head>

    <style>
        body, html{
            height: 100%;
            margin: 0;
        }
        .image{
            height: 600px;
            width: 360px;
        }
        h1{
            color: white;
            font-size: 40px;
            position: absolute;
            left: 400px;
            top: 0px;
        }
        #info1{
            position: absolute;
            left: 400px;
            top: 60px;
            font-size: 25px;
            color: aqua;
        }
        .trailer1{
            height: 350px;
            width: 600px;
            position: absolute;
            left: 500px;
            top: 280px;
        }
    </style>

    <body bgcolor="black">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQr8TLcGyFZmLsJSNZ3M_8CO2M9YbnucnpGTs6u2erH-SveV1O2" class="image">
        <h1>Movie Details</h1>
        <p id="info1">Rating : 6.3/10</br>
            Box office : 65.79 crores USD</br>
            Description : Steppenwolf and his Parademons return after eons to capture Earth. However, Batman seeks the help of Wonder Woman to recruit and assemble Flash, Cyborg and Aquaman to fight the powerful new enemy.</br>
            Cast : Gal Gadot, Ben Affleck, Henry Cavill.
        </p>
        <iframe class="trailer1" src="https://www.youtube.com/embed/3cxixDgHUYw" allowfullscreen ng-show="showvideo"></iframe>
    </body>
</html>