<html>
    <head><title>Kingsman</title></head>

    <style>
        body, html{
            height: 100%;
            margin: 0;
        }
        .image{
            height: 600px;
            width: 360px;
        }
        h1{
            color: white;
            font-size: 40px;
            position: absolute;
            left: 400px;
            top: 0px;
        }
        #info1{
            position: absolute;
            left: 400px;
            top: 60px;
            font-size: 25px;
            color: aqua;
        }
        .trailer1{
            height: 350px;
            width: 600px;
            position: absolute;
            left: 500px;
            top: 280px;
        }
    </style>

    <body bgcolor="black">
        <img src="https://m.media-amazon.com/images/M/MV5BMTkxMjgwMDM4Ml5BMl5BanBnXkFtZTgwMTk3NTIwNDE@._V1_.jpg" class="image">
        <h1>Movie Details</h1>
        <p id="info1">Rating : 7.7/10</br>
            Box office : 41.44 crores USD</br>
            Description : Gary 'Eggsy' Unwin faces several challenges when he gets recruited as a secret agent in a secret spy organisation in order to look for Richmond Valentine, an eco-terrorist.</br>
            Cast : Colin Firth, Taron Egerton, Samuel L. Jackson.
        </p>
        <iframe class="trailer1" src="https://www.youtube.com/embed/kl8F-8tR8to" allowfullscreen ng-show="showvideo"></iframe>
    </body>
</html>