<html>
    <head><title>

    </title></head>
    <style>
        body, html{
            height: 100%;
            margin: 0;
        }
        h1{
            background-color: darkblue;
            color: white;
            font-size: 40px;
        }
        .image{
            height: 350px;
            width: 220px;
            left: 40px;
            top: 90px;
            position: absolute;
        }
        .image1{
            height: 350px;
            width: 220px;
            top: 90px;
            left: 330px;
            position: absolute;
        }
        .image2{
            height: 350px;
            width: 220px;
            top: 90px;
            left: 600px;
            position: absolute;
        }
        .image3{
            height: 350px;
            width: 220px;
            top: 90px;
            left: 860px;
            position: absolute;
        }
        .image4{
            height: 350px;
            width: 220px;
            top: 90px;
            left: 1120px;
            position: absolute;
        }
        
        .drop-content{
            display: none;
            top: 490px;
            left: 40px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop:hover .drop-content{
            display: block;
        }
        .name:hover{
            color: darkblue;
        }
        .drop-content a{
            color: white;
        }
        .drop-content a:hover:not(.header){
            color: blue;
        }

        .drop-content1{
            display: none;
            top: 490px;
            left: 340px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop1:hover .drop-content1{
            display: block;
        }
    
        
        .drop-content1 a{
            color: white;
        }
        .drop-content1 a:hover:not(.header){
            color: blue;
        }

        .drop-content2{
            display: none;
            top: 490px;
            left: 620px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop2:hover .drop-content2{
            display: block;
        }
    
        
        .drop-content2 a{
            color: white;
        }
        .drop-content2 a:hover:not(.header){
            color: blue;
        }

        .drop-content3{
            display: none;
            top: 490px;
            left: 880px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop3:hover .drop-content3{
            display: block;
        }
    
        
        .drop-content3 a{
            color: white;
        }
        .drop-content3 a:hover:not(.header){
            color: blue;
        }

        .drop-content4{
            display: none;
            top: 490px;
            left: 1130px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop4:hover .drop-content4{
            display: block;
        }
    
        
        .drop-content4 a{
            color: white;
        }
        .drop-content4 a:hover:not(.header){
            color: blue;
        }
      
    </style>
    <body bgcolor="black">
        <h1><center>Thriller Movies</center></h1>
        <img src="https://images-na.ssl-images-amazon.com/images/I/8187AUOt+iL._RI_.jpg" class="image">
        <img src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_.jpg" class="image1">
        <img src="https://m.media-amazon.com/images/M/MV5BMTExMzU0ODcxNDheQTJeQWpwZ15BbWU4MDE1OTI4MzAy._V1_.jpg" class="image2">
        <img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Nightcrawlerfilm.jpg" class="image3">
        <img src="https://m.media-amazon.com/images/M/MV5BMjM3MjQ1MzkxNl5BMl5BanBnXkFtZTgwODk1ODgyMjI@._V1_UY1200_CR90,0,630,1200_AL_.jpg" class="image4">
        <div class="drop">
        <h2 class="name" style="color: white; cursor: pointer; left: 60px; top: 430px;position: absolute;font-size: 35px;">Shutter Island</h2>
        <div class="drop-content">
            <p>Release year : 2010</br>
            Length : 2hr 19min</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/thriller/shutterisland">More Info ></a></p>
        </div>
        </div>

        <div class="drop1">
        <h2 class="name" style="color: white; cursor: pointer; left: 360px; top: 430px;position: absolute;font-size: 35px;">Inception</h2>
        <div class="drop-content1">
            <p>Release year : 2010</br>
            Length : 2hr 42min</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/thriller/inception">More Info ></a></p>
        </div>
        </div>
        <div class="drop2">
        <h2 class="name" style="color: white; cursor: pointer; left: 610px; top: 440px;position: absolute;font-size: 28px;">Arrival</h2>
        <div class="drop-content2">
            <p>Release year : 2016</br>
            Length : 1hr 58min</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/thriller/arrival">More Info ></a></p>
        </div>
        </div>
        <div class="drop3">
        <h2 class="name" style="color: white; cursor: pointer; left: 870px; top: 440px;position: absolute;font-size: 30px;">Nightcrawler</h2>
        <div class="drop-content3">
            <p>Release year : 2014</br>
            Length : 1hr 57min</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/thriller/nightcrawler">More Info ></a></p>
        </div>
        </div>
        <div class="drop4">
            <h2 class="name" style="color: white; cursor: pointer; left: 1120px; top: 440px;position: absolute;font-size: 30px;">Baby Driver</h2>
            <div class="drop-content4">
                <p>Release year : 2017</br>
                Length : 1hr 55min</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/thriller/babydriver">More Info ></a></p>
            </div>
            </div>
    </body>
    
</html>