<html>
    <head><title>Titanic</title></head>

    <style>
        body, html{
            height: 100%;
            margin: 0;
        }
        .image{
            height: 600px;
            width: 360px;
        }
        h1{
            color: white;
            font-size: 40px;
            position: absolute;
            left: 400px;
            top: 0px;
        }
        #info1{
            position: absolute;
            left: 400px;
            top: 60px;
            font-size: 25px;
            color: aqua;
        }
        .trailer1{
            height: 350px;
            width: 600px;
            position: absolute;
            left: 500px;
            top: 280px;
        }
    </style>

    <body bgcolor="black">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhYjUIu2o5v5u3rfJpCq5Cz0Q9WK--XdYxai_N2d0ImohPiIOp" class="image">
        <h1>Movie Details</h1>
        <p id="info1">Rating : 7.8/10</br>
            Box office : 219.5 crores USD</br>
            Description : Seventeen-year-old Rose hails from an aristocratic family and is set to be married. When she boards the Titanic, she meets Jack Dawson, an artist, and falls in love with him.</br>
            Cast : Leonardo DiCaprio, Kate Winslet, Billy Zane.
        </p>
        <iframe class="trailer1" src="https://www.youtube.com/embed/CHekzSiZjrY" allowfullscreen ng-show="showvideo"></iframe>
    </body>
</html>