<html>
    <head><title>Venom</title></head>

    <style>
        body, html{
            height: 100%;
            margin: 0;
        }
        .image{
            height: 600px;
            width: 360px;
        }
        h1{
            color: white;
            font-size: 40px;
            position: absolute;
            left: 400px;
            top: 0px;
        }
        #info1{
            position: absolute;
            left: 400px;
            top: 60px;
            font-size: 25px;
            color: aqua;
        }
        .trailer1{
            height: 350px;
            width: 600px;
            position: absolute;
            left: 500px;
            top: 280px;
        }
    </style>

    <body bgcolor="black">
        <img src="https://bloximages.chicago2.vip.townnews.com/kokomotribune.com/content/tncms/assets/v3/editorial/2/2e/22e7dc38-c649-11e8-8fb3-73f150ba304d/5bb375fd83314.image.jpg?resize=500%2C750" class="image">
        <h1>Movie Details</h1>
        <p id="info1">Rating : 6.7/10</br>
            Box office : 85.61 crores USD</br>
            Description : While trying to take down Carlton, the CEO of Life Foundation, 
            Eddie, a journalist, investigates experiments of human trials. Unwittingly, 
            he gets merged with a symbiotic alien with lethal abilities.</br>
            Cast : Tom Hardy, Michelle Williams, Riz Ahmed.
        </p>
        <iframe class="trailer1" src="https://www.youtube.com/embed/u9Mv98Gr5pY" allowfullscreen ng-show="showvideo"></iframe>
    </body>
</html>